node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# venv
.venv/

# server files
server/__pycache__
server/migrations
server/instance

# keys
server/client_secret.json

# babel
babel.config.js

# assets
assets/